<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="/assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />


</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
            <div class="navbar-header">

                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="clip-list-2"></span>
                </button>

                <a class="navbar-brand" href="~/">
                    <img src="~/assets/images/aon_logo.png" height="35" />
                    IT ONE
                </a>

            </div>
            <div class="navbar-tools">

                <ul class="nav navbar-right">


                    <li class="dropdown current-user">
                        <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAV8AAAAJGI3NWRkMTQwLTkyMDMtNDViMC1iMDZlLTU4NjYxZmMzNjE5NA.jpg" height="30" class="circle-img" alt="">
                            <span class="username">@ViewBag.User</span>
                            <i class="clip-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <i class="clip-user-2"></i>
                                    &nbsp;My Profile
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <i class="clip-exit"></i>
                                    &nbsp;Log Out
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>

    </div>


    <div class="main-container">
        <div class="navbar-content">

            <div class="main-navigation navbar-collapse collapse">

                <div class="navigation-toggler">
                    <i class="clip-chevron-left"></i>
                    <i class="clip-chevron-right"></i>
                </div>

                <ul class="main-navigation-menu">
                    <li>
                        <a href='@Url.Action("Index", "Home")'>
                            <i class="clip-home-3"></i>
                            <span class="title"> Home </span><span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="active">
                            <i class="clip-list"></i>
                            <span class="title"> Inventario </span>
                            <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">
                                    Estoque <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:;">
                                            Computadores <i class="icon-arrow"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li><a href="#"><i class="fa fa-desktop"></i> Desktops</a></li>
                                            <li> <a href="#"><i class="fa fa-laptop"></i> Laptops</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            Telefonia <i class="icon-arrow"></i>
                                        </a>
                                        <ul class="sub-menu">
                                            <li><a href="#"><i class="fa fa-times"></i> Telefonia Fixa</a></li>
                                            <li><a href="#"><i class="fa fa-times"></i> Telefonia Movel</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Localidade <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-map-marker"></i> São Paulo</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i> Campinas</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i> Ribeirão Preto</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i> Rio de Janeiro</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i> Curitiba</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i> Porto Alegre</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i> Vitória</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i> Salvador</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i> Recife</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Telefonia <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Telefonia Fixa</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Telefonia Movel</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Clientes <i class="icon-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Microcity</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Infinity</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="active">
                            <i class="clip-users-2"></i>
                            <span class="title"> Recursos Humanos </span>
                            <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#"><i class="fa fa-angle-double-right"></i> Admissao</a>
                                <a href="#"><i class="fa fa-angle-double-right"></i> Demissao</a>
                                <a href="#"><i class="fa fa-angle-double-right"></i> Transferencia</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;" class="active">
                            <i class="clip-question"></i>
                            <span class="title"> Solicitacoes </span>
                            <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#"><i class="fa fa-angle-double-right"></i> Aon Remote Access</a>
                                <a href="#"><i class="fa fa-angle-double-right"></i> Emprestimo</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;" class="active">
                            <i class="clip-pencil"></i>
                            <span class="title"> Cadastrar </span>
                            <i class="icon-arrow"></i>
                        </a>
                        <ul class="sub-menu">

                            <li><a href='@Url.Action("Computador", "Cadastro")'><i class="fa fa-angle-double-right"></i> Computador</a></li>
                            <li><a href="#" onclick="openModal('/Cadastro/Fabricante');"><i class="fa fa-angle-double-right"></i> Fabricante</a></li>
                            <li><a href="#" onclick="openModal('/Cadastro/Modelo');"><i class="fa fa-angle-double-right"></i> Modelo</a></li>



                        </ul>
                    </li>
                </ul>

            </div>

        </div>

        <div class="main-content">
            @RenderBody()
        </div>

    </div>

    <div class="footer clearfix">
        <div class="footer-inner">
            2016 &copy; ITSupport v2.0 Web
        </div>
    </div>


    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymodal")
@*@Scripts.Render("~/bundles/jquerywizard")*@

    <script src="/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script src="/assets/plugins/select2/select2.min.js"></script>
    <script src="/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script src="/assets/plugins/jquery-maskmoney/jquery.maskMoney.js"></script>
    <script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/js/form-elements.js"></script>




<div id="frame" class="modal fade" tabindex="-1" data-width="760" style="display: none; width: 760px; margin-left: -379px; margin-top: -249px;" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>

        </div>
        <div class="modal-body">
            <div class="row">
                <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="@Url.Action("Fabricante", "Cadastro")" style="border: 0; width: 100%; height: 380px" name="iframe" scrolling="auto" id="iframemodal"></iframe>
            </div>
        </div>
        <div class="modal-footer">

        </div>
    </div>

    <script>
        jQuery(document)
            .ready(function () {
                Main.init();
                FormWizard.init();
                FormElements.init();
            });


        function openModal(url) {

            $('#frame').on('show', function () {
                $('#iframemodal').attr("src", url);
            });
            $('#frame').modal({ show: true });
        }
    </script>


</body>
</html>
