

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>@ViewBag.Title - IT Support</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/typeahead")
    @RenderSection("scripts", required: false)

   

</head>
<body>
    @*<img src="~/Images/aon_logo.png" alt="Aon Empower Results" />*@
    <header>


        <div class="row col-lg-12">
            <div class="col-md-4">
                <div class="col-lg-offset-3">
                    <img src="~/Images/aon_logo.png" alt="Aon Empower Results" />
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h2 class="text-center" style="text-shadow: 2px 2px 5px red;">ITSupport Web</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-lg-offset-7">
                    <img src="~/Images/aon_logo.png" alt="Aon Empower Results" />
                </div>
            </div>

        </div>
        
    





    </header>

    <div class="navbar navbar-default">
        @*@if (Request.IsAuthenticated)
            {*@
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>



            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastro<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Equipamento", "Equipamento", "Cadastro")</li>
                            <li>@Html.ActionLink("Fornecedor", "Fornecedor", "Cadastro")</li>
                           

                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inventário<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Inventário Completo</a></li>
                            <li><a href="#">Equipamentos em Estoque</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Atualizar Inventário</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text">Bem vindo <b>André Abreu</b> | <a href="#" class="navbar-link">Sair</a></p></li>

                </ul>
                


                @*@Html.Partial("_LoginPartial")*@
            </div>


        </div>

        @* } *@
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>


</body>
</html>
